body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #555;
}

h1, h2{
    color: #111;
}

.top-bar{
    background-color: #333;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-bottom: 5px solid orangered;
}

.container{
    max-width: 890px ;
    margin: auto;
    padding: 30px;
}

.headline{
    font-size: 46px;
    line-height: 54px;
}

.subtitle{
    font-weight: 400;
    font-size: 20px;
}

.news{
    font-weight: bold;
    font-size: 0.8em;
}

.social-icons{
    margin-top: 10px;
}

.social-icon{
    width: 20px;
    padding: 10px 10px 10px 0px;
}
a{
    text-decoration: none;
    color: orangered;
}

.content{
    max-width: 640;
    margin: auto;
}

p{
    font-size: 20px;
    line-height: 28px;
}

figure{
    padding: 0;
    margin: 40px 0;
}

figure>img{
    width: 100%;
}

.bottom{
        font-size: 14px;
}

